**/.idea/
**/.vscode/
**/.vs/
**/.claude
.application/net-core
.application/net-framework
.nuget
docs/_site
**/.sonarqube

**/[B-b]in/
**/[O-o]bj/
**/UnitTests.sln.DotSettings.user
TestResults
.github/prompts

scenarios/**-KK.yaml
**/scripts-kk/
/docs/tests/
